* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 4rem;
    margin-top: 20px;
    background-color: #72e5be;
}

.container {
    background-color: rgb(187, 187, 187);
    width: 80%;

    height: auto;
    padding: 10px;

    margin-top: 20px;
}