#main_content .login {
    width: 40%;
}

#main_content .login .form-label {
    font-size: 15px;
    display: flex;
}

#main_content .mon_ter {
    max-width: 420px;
    height: auto;
    background: rgb(3, 195, 212);
    position: absolute;
    top: 72%;
    right: 270px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;

    display: flex;
    align-items: flex-end;
    text-align: justify;
}

#main_content .mon_ter p {
    margin: 0;

    color: white;

    font-size: 15px;
}

#main_content .mon_ter .spinner-border {
    align-items: center;
}

#main_content .mon_ter::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid rgb(3, 195, 212);
    border-bottom: 6px solid transparent;
}

#main_content .mon_image img {
    position: absolute;

    width: 292px;
    height: auto;

    top: 65%;
    right: 0;
}

#main_content .mon_image_home img {
    position: absolute;

    width: 292px;
    height: auto;

    top: 55%;
    right: 0;
}