<ul class="nav flex-column bg-white">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/"> Home <i class="fa-solid fa-house"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile"> Profile <i class="fa-solid fa-user"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/rank"> Rank <i class="fa-solid fa-ranking-star"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/shop"> Shop <i class="fa-solid fa-shop"></i></a>
  </li>
</ul>