<div class="container">
  <div class="row">
    <div class="col">
      <a class="text-success" href="games/newbies">Newbies</a>
    </div>
    <div class="col">
      <a class="text-warning" href="games/normal">Normal</a>
    </div>
    <div class="col">
      <a class="text-danger" href="games/challenge">Challenge</a>
    </div>
    <div class="col">
      <a class="text-info" href="games/demon">Demon</a>
    </div>
  </div>
</div>