<div class="container">
  <div class="row">
    <div class="col">
      <a class="text-success" href="games/newbies">Newbies</a>
    </div>
    <div class="col">
      <a class="text-warning" href="games/normal">Normal</a>
    </div>
    <div class="col">
      <a class="text-danger" href="games/challenge">Challenge</a>
    </div>
    <div class="col">
      <a class="text-info" href="games/demon">Demon</a>
    </div>
  </div>
</div>
<article class="mon_image_home">
  <img src="/img/Miki_inhome.png"
    title="Mình chỉ là đại diện cho web thôi, thằng admin chưa code cho mình thành AI đâu :]]">
</article>
<article id="chat-message">
  {{>nnn}}
</article>
<section id="pop-up__modal">
  {{>pop-up__modal}}
</section>